/*selector here*/

body {
    background-color: #ccffcc;
    color: #336600;
}


/*selector here*/

body h1 {
    background-color: #336600;
    color: #ccffcc;
}


/*selector here*/

body p {
    border: 3px solid;
}


/*selector here*/

body ul,
ol {
    background-color: #ffff99;
}


/*selector here*/

body h1,
h2 {
    text-decoration: underline;
}